.add_event {
	text-align: center;
}

#nameEvent, #startDate, #startHour, #endDate, #endHour,
#nameEventEdit, #startDateEdit, #startHourEdit, #endDateEdit, #endHourEdit {
    text-align: center;
}

/* Placeholder color */
::-webkit-input-placeholder {
   color: white;
}